.containerStyle {
  border-style: solid;
  border-color: #027db4 !important;
  border-width: 3px !important;
  border-top: 0px;
  border-right: 0px;
  /* width: 65%; */
  min-height: 527px;
  width: 955px;
  padding-top: 10px;
  padding-left: 35px;
  padding-right: 35px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.regisBtn {
  background-color: #169bd5;
  border-radius: 5px;
  color: #ffffff;
  border-color: #169bd5;
  border-width: 1px;
  font-size: 13px;
  height: 42px;
  width: 120px;
  margin-top: 20px;
}

.endPag {
  /* display: flex; */
  /* align-items: flex-end; */
  /* align-content: end; */
  /* justify-content: end; */
  /* justify-items: flex-end; */

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 55px;
  /* justify-content: center; */
  /* align-items: center; */
}
