.form-order-plan {
    border-left: 3px solid #027DB4;
    border-bottom: 3px solid #027DB4;
    box-shadow: 5px 5px 5px #a09f9f;
    width: 947px;
    height: 754px;
    margin: auto;
    margin-top: -15px;
    position: relative;
}

.order-plan-inputs-group {
    width: 235px;
    margin-left: 40px;
    margin-bottom: 10px;
    margin-top: -5px;

}

label[for=name] {
    font-size: smaller;
}

#name {
    height: 20px;
    width: 159px;
    font-size: smaller;
    background-color: #FFFFFF;
}

label[for=orderNo] {
    font-size: smaller;
}

#orderNo {
    height: 20px;
    width: 159px;
    font-size: smaller;
    background-color: #FFFFFF;
}

label[for=customerName] {
    font-size: smaller;
}

#customerName {
    height: 20px;
    width: 159px;
    font-size: smaller;
    background-color: #FFFFFF;
}

label[for=price] {
    font-size: smaller;
}

#price {
    height: 20px;
    width: 133px;
    font-size: smaller;
    margin-right: 26px;
    background-color: #FFFFFF;
}

.form-title {
    margin: 20px 0px 0px 50px;
    font-weight: 600;
    font-size: x-large;
}

.table-cell {
    width: 100px;
    height: 78px;
    border: 1px solid #797979;
    text-align: center;
    font-size: 13px;
    font-family: 'HiraginoSans-W3', 'Hiragino Sans W3', 'Hiragino Sans W4', 'Hiragino Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.table-header {
    width: 100px;
    text-align: center;
    font-size: 14px;
    font-family: 'HiraginoSans-W3', 'Hiragino Sans W3', 'Hiragino Sans W4', 'Hiragino Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: underline;
}

.table-cell-gap {
    height: 3px;
    margin-top: 1px;
    text-align: center;
}

.gatu-cell {
    border: 1px solid #797979;
    min-width: 112px;
    max-width: 112px;
    height: 30px;
    font-size: 13px;
    font-family: 'HiraginoSans-W3', 'Hiragino Sans W3', 'Hiragino Sans W4', 'Hiragino Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
}

.jikan-cell {
    padding: 2px;
    border-left: 1px solid #797979;
    border-bottom: 1px solid #797979;
    width: 40px;
    height: 30px;
    text-align: left;
    font-size: 10px;
    font-family: 'HiraginoSans-W3', 'Hiragino Sans W3', 'Hiragino Sans W4', 'Hiragino Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.genka-cell {
    padding: 2px;
    border-right: 1px solid #797979;
    border-bottom: 1px solid #797979;
    width: 66px;
    height: 30px;
    text-align: right;
    font-size: 10px;
    font-family: 'HiraginoSans-W3', 'Hiragino Sans W3', 'Hiragino Sans W4', 'Hiragino Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.naiyo {
    font-size: 12px;
    font-family: 'HiraginoSans-W3', 'Hiragino Sans W3', 'Hiragino Sans W4', 'Hiragino Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    width: 56px;
    max-width: 56px;
    overflow-x: hidden;
}

.first-cell {
    min-width: 31px;
    max-height: 38px !important;
    border: 1px solid #797979;
}

.td-cell {
    text-align: center;
    border: 1px solid #797979;
}

.page-body {
    margin-left: 25px;
    width: 907px;
    margin-top: -35px;
}

.second-table {
    height: fit-content;
}

.div-second-table {
    height: 495px;
    width: 706px;
}

.first-table {
    margin-top: 43px;
}

.table-naiyo {
    height: 39px;
}

.jisseki {
    background-color: #80FFFF;
}

#erorrorderNo {
    height: 5px;
}

#erorrcustomerName {
    height: 5px;
}

#erorrname {
    height: 5px;
}

#erorrprice {
    height: 5px;
}

.empty-header {
    height: 65px;
}

.scroll-table {
    overflow-x: scroll;
    height: fit-content;
}

.table-gap {
    display: block;
    margin-top: 1px;
}

.gap-row {
    height: 39px;
}

.table-blue {
    background-color: #80FFFF;

}

.table-orange {
    background-color: #FACD91;
    border: 2px solid #797979;
}

.col-shadow {
    box-shadow: 5px 5px 5px #000000;
    border: 0px solid #797979;
    width: 28px;
    position: relative;
    z-index: 3;
}

.tables-flex {
    position: relative;
    top: -724px;
    right: -353px;
    width: 516px;
}

.table-top {
    font-family: 'HiraginoSans-W3', 'Hiragino Sans W3', 'Hiragino Sans W4', 'Hiragino Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    font-size: 13px;
    width: 230px;
}

.td-cell-2 {
    position: relative;
    z-index: 2;
    text-align: center;
    border: 2px solid #797979;
}

.absolute-img1 {
    position: absolute;
    top: 163px;
    left: 3px;
    width: auto;
    height: 25px;
}

.absolute-img2 {
    position: absolute;
    top: 168px;
    left: 10px;
    width: auto;
    height: 14px;
}

.div-button {
    margin-top: 30px;
}

.vertical-scroll-table {
    display: table-caption;
    height: 473px;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}

.header-last-table {
    padding-right: 10px;
}

.show-scroll-bar {
    display: block;
    padding-right: 15px;
}
.input-enable{
    height: 36px;
    width: -webkit-fill-available;
    border: 0px;
    text-align: center;
}
.select-staff{
    width: auto;
}