/* table {
  font-size: 14px;
} */

.table-head th {
  text-align: center;
  border: 1px solid var(--gray-border-color) !important;
  height: 34px !important;
  font-size: 14px;
  background-color: var(--table-gray-bg-color);
}

#tableList td {
  text-align: center;
  border: 1px solid var(--gray-border-color) !important;
  height: 30px !important;
}

.edit-o-link,
.delete-o-link,
.result-o-link {
  cursor: pointer;
  /* margin-right: 10px; */
  /* margin-left: 10px; */
}

.delete-o-link {
  color: var(--error-color);
  text-decoration: underline;
}

.result-o-link {
  color: var(--main-blue-color);
  text-decoration: underline;
}

.edit-o-link:hover,
.delete-o-link:hover,
.result-o-link {
  text-decoration: underline;
}

.even-row2 {
  background-color: var(--table-blue-theme-color) !important;
}
