li
{
    list-style-type: none;
}

.breadcrumb{
    font-size: smaller;
    color: #81D3F8;
    width: 1007px;
    margin: auto;
    margin-top: 15px;
    height: 40px;
} 

.icon{
    font-size: larger;
}

.text-decor{
    text-decoration: underline;
}

