.header {
    background-color: #F2F2F2;
    border: 2px solid #02A7F0;
    padding: 2px;
    text-align: center;
    height: 100px;
    line-height: 100px;
}

.title {
    color: #A30014;
    font-weight: 600;
    font-size: x-large;
    margin: 0px;
}
.logout{
    position: absolute;
    right: 20px;
    top: 0px;
}