.header {
  background-color: #f2f2f2;
  border: 2px solid #02a7f0;
  padding: 2px;
  height: 100px;
  line-height: 100px;
  width: 1007px;
  position: relative;
  margin: auto;
  /* display: flex; */
  /* padding-bottom: 0px; */
  /* margin-bottom: 0px; */
}

@media only screen and (min-width: 0px) {
  .header {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    width: 1007px;
  }
}

.titleHeader {
  text-align: center;

  font-family: "HiraginoSans-W7", "Hiragino Sans W7", "Hiragino Sans W4",
    "Hiragino Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  color: rgba(163, 0, 20, 0.5686274509803921);
  width: 100%;
}

.div-container-button-header {
  width: 160px;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  flex-direction: column;
}
.div-button-header {
  height: 100%;
  width: 100%;
  flex-direction: column;
  position: relative;
  display: flex;
  padding: 10px 0px;
}

.button-label {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
}
.button-label div {
  height: 50px;
  width: 90%;
  /* max-width: ; */

  margin-left: 10px;
  display: flex;
  align-items: center;
}

.label-name-user {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
  /* max-width: 100%; */
  padding-right: 10px;
  margin-right: 10px;
}

.logoutImg {
  height: 30px;
  width: 30px;
}
