.search-input-style {
  width: 100%;
}

.col-no-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

label input h1 h2 h3 .fontMain {
  font-family: "HiraginoSans-W3", "Hiragino Sans W3", "Hiragino Sans W4",
    "Hiragino Sans", sans-serif;
}

.wicth-select {
  width: 50%;
}

